html,
body {
  height: 100%;
}

body {
  background: #fef2ed;
}

.home-description {
  color: #000000;
  font-size: 24px;
  width: 100%;
  padding: 4rem;
}

a {
  color: inherit;
  font-weight: 500;
  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: line-through;
  }
}

@media (min-width: 768px) {
  .home-description {
    font-size: 46px;
  }
}
