html,
body {
  height: 100%;
}

body {
  background: #f2cbbc;
}

.home-description {
  color: #000000;
  font-size: 24px;
  width: 100%;
  padding: 4rem;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: white;
    font-weight: bold;
    font-style: italic;
  }
}

@media (min-width: 768px) {
  .home-description {
    font-size: 46px;
  }
}
